<!--@subject Payment Transaction Failed Reminder @-->
<!--@vars
{"var reason":"Transaction Failed Reason",
"var checkoutType":"Checkout Type",
"var customerEmail":"Customer Email",
"var customer":"Customer Name",
"var items":"Shopping Cart Items",
"var total":"Total",
"var billingAddress.format('html')":"Billing Address",
"var shippingAddress.format('html')":"Shipping Address",
"var shippingMethod":"Shipping Method",
"var paymentMethod":"Payment Method",
"var dateAndTime":"Date and Time of Transaction"}
@-->

<table>
    <thead>
    <tr>
        <th>Platební transakce se nezdařila.</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <p>
                <b>Důvod</b> <br />
                 {{var reason}}
            </p>
            <p>
                <b>Způsob objednání</b> <br />
                 {{var checkoutType}}
            </p>
            <p>
                <b>Zákazník:</b><br />
                 <a href="mailto:{{var customerEmail}}">{{var customer}}</a> &lt;{{var customerEmail}}&gt;
            </p>
            <p>
                <b>Položky</b> <br />                 {{var items}}
            </p>
            <p>
                <b>Celkem:</b><br />
                 {{var total}}
            </p>
            <p>
                <b>Fakturační adresa:</b><br />
                 {{var billingAddress.format('html')}}
            </p>
            <p>
                <b>Adresa dodání:</b><br />
                {{var shippingAddress.format('html')}}
            </p>
            <p>
                <b>Způsob dopravy:</b><br />
                 {{var shippingMethod}}
            </p>
            <p>
                <b>Způsob platby:</b><br />
                 {{var paymentMethod}}
            </p>
            <p>
                <b>Datum & čas:</b><br />
                 {{var dateAndTime}}
            </p>
        </td>
    </tr>
    </tbody>
</table>
